<nav class="navbar navbar-default navbar-opaque">
  <%= render partial: "shared/navbar" %>
</nav>


<div class="container services-container">
  <div class="row">
    <div class="col-md-12 services-header">
      STUDENT PROFILE
      <div>
        Do the things.
        <!-- These are the things we do. -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="well col-md-4 col-md-offset-4">
        This is where the things would go!
    </div>
  </div>
</div>
