<nav class="navbar navbar-default navbar-opaque">
  <%= render partial: "shared/navbar" %>
</nav>
<div class="container services-container">
  <div class="row">
    <div class="col-md-12 services-header">
      STUDENTS
      <div>
        These are our students!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      
    </div>
  </div>
</div>
