<div class="banner-image">
  <div class="container banner-text">
    PIRATES YE BE WARNED
    <div>mentoring opportunites abound</div>
    <div class="btn btn-turing">
      Sign up as a Mentor!
    </div>
    <div class="btn btn-turing">
      Sign up as a Student!
    </div>
  </div>
</div>
