<div class="container services-container">
  <div class="row">
    <div class="col-md-12 services-header">
      SERVICES
      <div>
        These be th' thin's we do.
        <!-- These are the things we do. -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <i class="fa fa-github fa-2x first" aria-hidden="true"></i>
      <div class="services-description">
        Sign in wit' ye github account
      </div>
    </div>
    <div class="col-md-4">
      <i class="fa fa-paper-plane fa-2x second" aria-hidden="true"></i>
      <div class="services-description">
        Complete ye profile as a mentor or a student
      </div>
    </div>
    <div class="col-md-4">
      <i class="fa fa-rocket fa-2x third" aria-hidden="true"></i>
      <div class="services-description">
        Find a scoundrel based on location, timezone, cohort, or interest.
      </div>
    </div>
  </div>
</div>
